<p style="color: green"><%= notice %></p>

<h1>Customers</h1>
 
<div class="media">
<div class="media-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.city %></td>
        <td><%= link_to "Show ", customer %></td>
        <td><%= link_to "Choose Category", categories_path %></td>
         <td><%= link_to "Destroy", @customer, data: {turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
 

<%= link_to "Create Profile", new_customer_path %>
