<p style="color: green"><%= notice %></p>

<h1>Categories</h1>
<%= link_to " Pay Bill of Electricity", electricities_path %> |
<%= link_to "Pay Bill of Gas", suigas_path %>
 
 
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
