<p style="color: green"><%= notice %></p>
<div class="container">
<div class="form-control">
  <%= link_to " Pay Bill of Electricity", electricities_path %> 
</div>
<div class="form-control">
  <%= link_to "Pay Bill of Gas", suigas_path %>

</div>
<div class="form-control">
  <%= link_to "Pay Bill of Internet", internet_path %>

</div>
<%= link_to "Pay Bill of Water", water_path %>
 </div>
